﻿@model help.me.Models.User

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>@ViewBag.PageName</h4>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="row">
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)

        <div class="input-field">
            <label>Primeiro Nome</label>
            @Html.EditorFor(model => model.FirstName)
            @Html.ValidationMessageFor(model => model.FirstName)
        </div>

        <div class="input-field">
            <label>Último Nome</label>
            @Html.EditorFor(model => model.LastName)
            @Html.ValidationMessageFor(model => model.LastName)
        </div>

        <div class="input-field">
            <label>CPF</label>
            @Html.EditorFor(model => model.CPF)
            @Html.ValidationMessageFor(model => model.CPF)
        </div>

        <div class="input-field">
            <label>E-mail</label>
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </div>

        <div class="input-field">
            <label>Senha</label>
            @Html.PasswordFor(model => model.Password)
            @Html.ValidationMessageFor(model => model.Password)
        </div>

        <div class="input-field">
            @Html.ActionLink("Voltar", "Index", null, new { @class = "btn yellow left" })
            <input type="submit" value="Salvar" class="btn green right" />
        </div>
    </div>
}

