﻿@model IEnumerable<help.me.Models.User>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Lista de Usuários</h4>

<p>
    @Html.ActionLink("Novo Usuário", "Edit", null, new { @class = "btn" })
</p>

<div class="col m12 s12" style="margin-top:30px">
    <table class='bordered striped responsive-table' id="dataTable">
        <thead>
            <tr>
                <th>Primeiro Nome</th>
                <th>Último Nome</th>
                <th>CPF</th>
                <th>E-mail</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CPF)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        <a href="/User/Edit/@item.Id" class="blue btn-floating btn-edit"><i class="material-icons">mode_edit</i></a>
                        <a href="/User/Delete/@item.Id" class="red btn-floating"><i class="material-icons">delete</i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
@section scripts{
    <script src="~/Scripts/jquery.dataTables.js"></script>
    <script>
        $("#dataTable").dataTable();
    </script>
}
