﻿@model help.me.Models.User

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
    <title>Rescue Me</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="~/Content/materialize.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/Login.css" rel="stylesheet" />
</head>

<body class="login">

@using (Html.BeginForm())
{
    <div style="text-align:center;"><img src="/Content/img/RM.png" style="width:250px;"></div>

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="group">
        <label>E-mail</label>
        @Html.EditorFor(model => model.Email)
        @Html.ValidationMessageFor(model => model.Email)
    </div>

    <div class="group">
        <label>Senha</label>
        @Html.PasswordFor(model => model.Password, new { type = "password" })
        @Html.ValidationMessageFor(model => model.Password)
    </div>

    <div style="text-align:center;">
        <input type="submit" value="Entrar" class="btn" />
    </div>
}
</body>
</html>