﻿@model help.me.Models.Customer

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>@ViewBag.PageName</h4>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="row">
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)

        <div class="input-field">
            <label>Primeiro Nome</label>
            @Html.EditorFor(model => model.FirstName)
            @Html.ValidationMessageFor(model => model.FirstName)
        </div>

        <div class="input-field">
            <label>Último Nome</label>
            @Html.EditorFor(model => model.LastName)
            @Html.ValidationMessageFor(model => model.LastName)
        </div>

        <div class="input-field">
            <label>CPF</label>
            @Html.EditorFor(model => model.CPF)
            @Html.ValidationMessageFor(model => model.CPF)
        </div>

        <div class="input-field">
            <label>Telefone Celular</label>
            @Html.TextBoxFor(model => model.Phone)
            @Html.ValidationMessageFor(model => model.Phone)
        </div>

        <div class="input-field">
            <label>E-mail</label>
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </div>

        <div class="input-field">
            <label>Marca/Modelo do Veículo</label>
            @Html.EditorFor(model => model.Vehicle)
            @Html.ValidationMessageFor(model => model.Vehicle)
        </div>

        <div class="input-field">
            <label>Placa do Veículo</label>
            @Html.EditorFor(model => model.BoardVehicle)
            @Html.ValidationMessageFor(model => model.BoardVehicle)
        </div>

        <div class="input-field">
            <label>Ano do Veículo</label>
            @Html.EditorFor(model => model.Year)
            @Html.ValidationMessageFor(model => model.Year)
        </div>

        <div class="input-field">
            <label>RENAVAM do Veículo</label>
            @Html.EditorFor(model => model.Renavam)
            @Html.ValidationMessageFor(model => model.Renavam)
        </div>

        <div class="input-field">
            <label>Número de Série do Equipamento</label>
            @Html.EditorFor(model => model.EquipamentID)
            @Html.ValidationMessageFor(model => model.EquipamentID)
        </div>

        <div class="input-field">
            <label>Nome Contato Família 1</label>
            @Html.EditorFor(model => model.ContactName1)
            @Html.ValidationMessageFor(model => model.ContactName1)
        </div>

        <div class="input-field">
            <label>Telefone Contato Família 1</label>
            @Html.TextBoxFor(model => model.ContactPhone1)
            @Html.ValidationMessageFor(model => model.ContactPhone1)
        </div>

        <div class="input-field">
            <label>Nome Contato Família 2</label>
            @Html.EditorFor(model => model.ContactName2)
            @Html.ValidationMessageFor(model => model.ContactName2)
        </div>

        <div class="input-field">
            <label>Telefone Contato Família 2</label>
            @Html.TextBoxFor(model => model.ContactPhone2)
            @Html.ValidationMessageFor(model => model.ContactPhone2)
        </div>

        <div class="input-field">
            <label>Nome Contato Família 3</label>
            @Html.EditorFor(model => model.ContactName3)
            @Html.ValidationMessageFor(model => model.ContactName3)
        </div>

        <div class="input-field">
            <label>Telefone Contato Família 3</label>
            @Html.TextBoxFor(model => model.ContactPhone3)
            @Html.ValidationMessageFor(model => model.ContactPhone3)
        </div>

        <div>
            <label for="CompanyID">Empresa</label>
            @Html.DropDownList("CompanyID", "Selecione a empresa (Opcional)")
            @Html.ValidationMessageFor(model => model.CompanyID)
        </div>

        <div class="input-field">
            @Html.ActionLink("Voltar", "Index", null, new { @class = "btn yellow left" })
            <input type="submit" value="Salvar" class="btn green right" />
        </div>
    </div>
}

@section scripts{
    <script>
        $(document).ready(function () {
            $('select').material_select();
        });
    </script>
}
