﻿@model IEnumerable<help.me.Models.Customer>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Lista de Clientes</h4>

<p>
    @Html.ActionLink("Novo Cliente", "Edit", null, new { @class = "btn" })
</p>
<div class="col m12 s12" style="margin-top:30px">
    <table class='bordered striped responsive-table' id="dataTable">
        <thead>
            <tr>
                <th>Nome Completo</th>
                <th>CPF</th>
                <th>Celular</th>
                <th>E-mail</th>
                <th>Veículo</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName) @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CPF)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Phone)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Vehicle)
                    </td>
                    <td>
                        <a href="/Customer/Edit/@item.Id" class="blue btn-floating btn-edit"><i class="material-icons">mode_edit</i></a>
                        <a href="/Customer/Delete/@item.Id" class="red btn-floating"><i class="material-icons">delete</i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
@section scripts{
    <script src="~/Scripts/jquery.dataTables.js"></script>
    <script>
        $("#dataTable").dataTable();
    </script>
}