﻿@{
    ViewBag.Title = "Home Page";
}
@using help.me.Models;

<link href='https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.css' rel='stylesheet' />
<meta http-equiv="refresh" content="60"/>
<div class="row">
    <div class="col m12 hide-on-med-and-down">
        <div class="card-panel" style="overflow: hidden !important; height:500px;">
            <div id='map' style="height:450px !important"></div>
        </div>
        <div style="clear:both"></div>
    </div>
    <div class="col m12 s12" style="margin-top:30px">
        <table class='bordered striped responsive-table' id="dataTable">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Latitude</th>
                    <th>Longitude</th>
                    <th>Horário</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (Occurence oc in (List<Occurence>)ViewBag.Occurences)
                {
                    <tr>
                        <td>@oc.Customer.FirstName @oc.Customer.LastName</td>
                        <td>@oc.latitude</td>
                        <td>@oc.longitude</td>
                        <td>@oc.Date</td>
                        <td style="text-align:right"><a href="#" car-data='{"FirstName":"@oc.Customer.FirstName","LastName": "@oc.Customer.LastName","CPF":"@oc.Customer.CPF","latitude":"@oc.latitude","longitude":"@oc.longitude"}' class="btn">Carregar no mapa</a></td>

                    </tr>
                }
                
            </tbody>
        </table>
    </div>
@section scripts{
    <script src='https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.js'></script>
    <script src="~/Scripts/jquery.dataTables.js"></script>
    <script>
        var data = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(((List<Occurence>)ViewBag.Occurences).Take(10)));
    </script>
    <script src="~/Scripts/map.js"></script>
    <script>
            $("#dataTable").dataTable();
    </script>
}
</div>