﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
    <title>Rescue Me</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="~/Content/materialize.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />

</head>

<body>
    <div class="navbar-fixed" style="z-index: 9999 !important;">
        <nav>
            <div class="nav-wrapper">
                <a href="#" data-activates="slide-out" id="left-slide" class="menu-button"><i class="material-icons">menu</i></a>
                <a href="#" class="brand-logo center header-title">Rescue.me</a>
            </div>
        </nav>
    </div>
    <ul id="slide-out" class="side-nav">
        <li>
            <div style="text-align:center">
                <img id="slide-img" class="background" src="~/Content/img/RM.png">
            </div>
        </li>
        <li><div class="divider"></div></li>
        <li><a href="/Home/Index"><i class="material-icons">pin_drop</i>Painel</a></li>
        <li><a href="/User/Index"><i class="material-icons">people</i>Usuários</a></li>
        <li><a href="/Customer/Index"><i class="material-icons">card_travel</i>Clientes</a></li>
        <li><a href="/Company/Index"><i class="material-icons">business</i>Empresas</a></li>
        <li><a class="waves-effect" href="/User/Logout"><i class="material-icons">lock_open</i>Sair</a></li>
    </ul>

    <div class="container" style="">
        @RenderBody()
    </div>

    @Scripts.Render("~/Scripts/jquery-1.10.2.min.js")
    <script src="~/Scripts/materialize.js"></script>
    <script src="~/Scripts/layout.js"></script>
    <script src="~/Scripts/jquery.mask.min.js"></script>
    <script src="~/Scripts/mask.js"></script>
    @RenderSection("scripts", required: false)
   
</body>
</html>
