﻿@model help.me.Models.Company

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>@ViewBag.PageName</h4>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="row">
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)

        <div class="input-field">
            <label>Razão Social</label>
            @Html.EditorFor(model => model.CompanyName)
            @Html.ValidationMessageFor(model => model.CompanyName)
        </div>

        <div class="input-field">
            <label>CNPJ</label>
            @Html.EditorFor(model => model.CNPJ)
            @Html.ValidationMessageFor(model => model.CNPJ)
        </div>

        <div class="input-field">
            <label>Código de Acesso</label>
            @if (Model.Id == 0)
            {
                @Html.TextBoxFor(model => model.HashAccess)
            }
            else
            {
                @Html.TextBoxFor(model => model.HashAccess, new { @readonly = "readonly" })
           }
            @Html.ValidationMessageFor(model => model.HashAccess)
        </div>

        <div class="input-field">
            @Html.ActionLink("Voltar", "Index", null, new { @class = "btn yellow left" })
            <input type="submit" value="Salvar" class="btn green right" />
        </div>
    </div>
}
