﻿@model IEnumerable<help.me.Models.Company>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Lista de Empresas</h4>

<p>
    @Html.ActionLink("Nova Empresa", "Edit", null, new { @class = "btn" })
</p>

<div class="col m12 s12" style="margin-top:30px">
    <table class='bordered striped responsive-table' id="dataTable">
        <thead>
            <tr>
                <th>Razão Social</th>
                <th>CNPJ</th>
                <th>Código Acesso</th>
                <th></th>
            </tr>
        </thead>
       
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CompanyName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CNPJ)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HashAccess)
                    </td>
                    <td>
                        <a href="/Company/Edit/@item.Id" class="blue btn-floating btn-edit"><i class="material-icons">mode_edit</i></a>
                        <a href="/Company/Delete/@item.Id" class="red btn-floating"><i class="material-icons">delete</i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
@section scripts{
    <script src="~/Scripts/jquery.dataTables.js"></script>
    <script>
        $("#dataTable").dataTable();
    </script>
}