﻿/*
    Login
*/
.login {
    background: url(/Content/img/fundo.jpg) 50% no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

form {
	width: 380px;
	margin: 4em auto;
	padding: 3em 2em 2em 2em;
	background: #fafafa;
	border: 1px solid #ebebeb;
	box-shadow: rgba(0,0,0,0.14902) 0px 1px 1px 0px,rgba(0,0,0,0.09804) 0px 1px 2px 0px;
}

.group { 
	position: relative; 
	margin-bottom: 45px; 
}

footer { text-align: center; }

footer a {
	color: #4a89dc;
	transition: all .2s ease;
}

footer a:hover {
	color: #666;
	text-decoration: underline;
}

footer img {
	width: 150px;
}

footer img:hover { opacity: .83; }