﻿/*
    Default
*/
html, body {
    width: 100%;
    height: 100%;
}

/*
    Geral
*/
.header-title {
    font-weight: 200 !important;
}

.container{
    width:90% !important;
    margin-top:30px !important;
}

.menu-button {
    float: left;
    z-index: 1;
    margin-left:20px;
    display:block !important;
}
#slide-img{
    width:250px;
    padding:10px;
    margin-top:25px;
}
#slide-out {
    top:64px;
    z-index:9999 !important;
}
@media screen and (max-width : 768px){
    #slide-out {
        top:56px;
        z-index:9999 !important;
    }
}

/*
    btn edit
*/
.btn-edit{
    margin-right:5px;
}

/*
    DATATABLE
*/

/* elementos Datatable
----------------------------------------------------------*/
div#dataTables_filter, #dataTables-op_filter, #dataTables-kainos_filter,
div#dataTables_length, #dataTables-op_length, dataTables-kainos_length,
#dataTables-rh_length, #dataTables-rh_filter, #dataTables-rh_info {
    display: none;
}

div#dataTables_paginate, #sample3,
#dataTables-op_paginate {
    float: right;
}

div#dataTables_info {
    float: left;
    margin-left: 10px;
}

div#dataTables-rh_paginate {
    text-align: center;
}

#dataTables {
    margin-bottom: 10px;
}

a.paginate_button {
    margin: 5px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    box-sizing: border-box;
    display: inline-block;
    min-width: 1.5em;
    padding: 6px 12px;
    margin-left: -1px;
    text-align: center;
    text-decoration: none !important;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #e5e6e6;
}

#dataTables_info {
    margin-top: 5px;
}